*{
  margin: 0;
  padding: 0;
}
.burgermenubox{
  padding: 5px !important;
}



@media (max-width: 1200px) {
  .Container {
    max-width: 960px;
  }
  .boysbacgcolor{
    height: 142em !important;
  }
 
}

@media (max-width: 992px) {
  .Container {
    max-width: 720px;
  }
  .boysbacgcolor{
    height: 186em !important;
  }
 
}

@media (max-width: 768px) {
  .Container {
    max-width: 540px;
  }
  .allpagecolor{
    height: 477vh !important;
  }
  .boysbacgcolor{
    height: 202em !important;
  }

}
@media (max-width: 576px) {
  .Container {
    max-width: 100%;
  }
  .boysbacgcolor{
    background-image: none !important;
    margin-left: 0px !important;
    width: 100% !important;
    height: 240em !important;

  }
  .allpagecolor{
    padding: 0 !important;
    height: 463vh !important;
  }
  .itourworks{
    height: 453vh !important;
  }
}